<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fund-Transfer - First Key Finance</title>
  <!-- Include Tailwind CSS -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">

</head>

<body class="font-sans bg-gray-100">

  <div class="min-h-screen flex flex-col md:flex-row">

    <!-- Navigation Pane -->
    <div class="w-full md:w-1/4 bg-green-600 text-white p-4">
      <a href="/">
        <h2 class="text-xl font-semibold mb-4">First Key Finance</h2>
      </a>
      <a href="/dashboard">
        <button class="block w-full flex text-left py-4 px-4 border-b hover:bg-gray-100 hover:text-gray-500">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6 mr-2">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M8.25 21v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21m0 0h4.5V3.545M12.75 21h7.5V10.75M2.25 21h1.5m18 0h-18M2.25 9l4.5-1.636M18.75 3l-1.5.545m0 6.205 3 1m1.5.5-1.5-.5M6.75 7.364V3h-3v18m3-13.636 10.5-3.819" />
          </svg>

          Dashboard
        </button>
      </a>
      <a href="/fund-transfer">
        <button class="block flex w-full text-left py-4 px-4 border-b hover:bg-gray-100 hover:text-gray-500">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6 mr-2">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="m3.75 13.5 10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75Z" />
          </svg>

          Transfer Funds
        </button>
      </a>
      <a href="/history">
        <button class="block flex w-full text-left py-4 px-4 border-b hover:bg-gray-100 hover:text-gray-500">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6 mr-2">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
          </svg>

          History
        </button>
      </a>
      <a href="/support">
        <button class="block w-full flex text-left py-4 px-4 border-b hover:bg-gray-100 hover:text-gray-500">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6 mr-2">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M8.625 12a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 0 1-2.555-.337A5.972 5.972 0 0 1 5.41 20.97a5.969 5.969 0 0 1-.474-.065 4.48 4.48 0 0 0 .978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25Z" />
          </svg>
          Chat Support
        </button>
      </a>
      <a href="/settings">
        <button class="block flex w-full text-left py-4 px-4 border-b hover:bg-gray-100 hover:text-gray-500">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6 mr-2">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M10.343 3.94c.09-.542.56-.94 1.11-.94h1.093c.55 0 1.02.398 1.11.94l.149.894c.07.424.384.764.78.93.398.164.855.142 1.205-.108l.737-.527a1.125 1.125 0 0 1 1.45.12l.773.774c.39.389.44 1.002.12 1.45l-.527.737c-.25.35-.272.806-.107 1.204.165.397.505.71.93.78l.893.15c.543.09.94.559.94 1.109v1.094c0 .55-.397 1.02-.94 1.11l-.894.149c-.424.07-.764.383-.929.78-.165.398-.143.854.107 1.204l.527.738c.32.447.269 1.06-.12 1.45l-.774.773a1.125 1.125 0 0 1-1.449.12l-.738-.527c-.35-.25-.806-.272-1.203-.107-.398.165-.71.505-.781.929l-.149.894c-.09.542-.56.94-1.11.94h-1.094c-.55 0-1.019-.398-1.11-.94l-.148-.894c-.071-.424-.384-.764-.781-.93-.398-.164-.854-.142-1.204.108l-.738.527c-.447.32-1.06.269-1.45-.12l-.773-.774a1.125 1.125 0 0 1-.12-1.45l.527-.737c.25-.35.272-.806.108-1.204-.165-.397-.506-.71-.93-.78l-.894-.15c-.542-.09-.94-.56-.94-1.109v-1.094c0-.55.398-1.02.94-1.11l.894-.149c.424-.07.765-.383.93-.78.165-.398.143-.854-.108-1.204l-.526-.738a1.125 1.125 0 0 1 .12-1.45l.773-.773a1.125 1.125 0 0 1 1.45-.12l.737.527c.35.25.807.272 1.204.107.397-.165.71-.505.78-.929l.15-.894Z" />
            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
          </svg>

          Settings
        </button>
      </a>
      <% if (user.email=="admin@test.com" ) { %>
        <a href="/transactions">
          <button
            class="block flex  bg-green-500  w-full text-left py-4 px-4 border-b hover:bg-gray-100 hover:text-gray-500">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6 mr-2">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M6 13.5V3.75m0 9.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 3.75V16.5m12-3V3.75m0 9.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 3.75V16.5m-6-9V3.75m0 3.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 9.75V10.5" />
            </svg>

            Admin Transactions
          </button>
        </a>
        <a href="/chats">
          <button class="block flex w-full text-left py-4 px-4 border-b hover:bg-gray-100 hover:text-gray-500">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6 mr-2">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 0 1-.825-.242m9.345-8.334a2.126 2.126 0 0 0-.476-.095 48.64 48.64 0 0 0-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0 0 11.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155" />
            </svg>
            Admin Chat support
          </button>
        </a>
        <% } %>
          <button class="block flex w-full text-left py-4 px-4 border-b hover:bg-gray-100 hover:text-gray-500"
            onclick="logout()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6 mr-2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
            </svg>

            Logout
          </button>
    </div>

    <!-- Main Content Section -->
    <div class="p-4 bg-white shadow-md rounded-md w-full md:w-3/4">
      <% if (message) { %>
        <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
          <strong class="font-bold">Success!</strong>
          <span class="block sm:inline">
            <%= message %>
          </span>
        </div>
        <% } %>
          <div class="flex flex-col md:flex-row items-center justify-center">
            <!-- Form Section -->
            <div class="w-full md:w-1/2 p-4 mb-4 md:mb-0">
              <div class="bg-white p-8 rounded-md shadow-md">
                <h2 class="text-2xl font-semibold mb-4">Create History</h2>
                <p class="text-red-500">* You are about to create a history for a customer</p>

                <!-- Radio Buttons -->
                <!-- <div class="mb-4">
              <input type="radio" id="domestic" name="transferType" value="domestic" checked>
              <label for="domestic" class="text-sm font-medium text-gray-700">Domestic</label>

              <input type="radio" id="international" name="transferType" value="international">
              <label for="international" class="text-sm font-medium text-gray-700">International</label>
            </div> -->

                <!-- Domestic Transfer Form -->

                <!-- Add your domestic form fields here -->
                <form action="/add-history" id="domesticForm" class="max-w-md mx-auto" method="post" action="">
                  <div class="mb-4">
                    <label for="desc" class="block text-gray-600 text-sm font-semibold mb-2">Create History for</label>
                    <select id="userId" name="userId" class="w-full p-2 border-b border-gray-300 rounded">
                      <% users.forEach(user=> { %>
                        <option value="<%= user.email %>">
                          <%= user.email %>
                        </option>
                        <% }); %>
                    </select>
                  </div>
                  <div class="mb-4">
                    <label for="desc" class="block text-gray-600 text-sm font-semibold mb-2">Bank Routing Number</label>
                    <input type="text" id="desc" name="desc" class="w-full p-2 border-b border-gray-300 rounded">
                  </div>
                  <div class="mb-4">
                    <label for="accNumber" class="block text-gray-600 text-sm font-semibold mb-2">Recipient account
                      number</label>
                    <input type="text" id="accNumber" name="accNumber"
                      class="w-full p-2 border-b border-gray-300 rounded">
                  </div>
                  <!-- <div class="mb-4">
                <label for="" class="block text-gray-600 text-sm font-semibold mb-2">Verify recipient account
                  number</label>
                <input type="text" id="" name="" class="w-full p-2 border-b border-gray-300 rounded">
              </div> -->
                  <!-- <div class="mb-4">
                  <label for="bankName" class="block text-gray-600 text-sm font-semibold mb-2">Recipient Name</label>
                  <input type="text" id="bankName" name="bankName" class="w-full p-2 border-b border-gray-300 rounded">
                </div> -->

                  <div class="mb-4">
                    <label for="status" class="block text-gray-600 text-sm font-semibold mb-2">Status</label>

                    <select id="status" name="status" class="w-full p-2 border-b border-gray-300 rounded">

                      <option value="Pending">
                        Pending
                      </option>
                      <option value="Approved">
                        Approved
                      </option>
                      <option value="Declined">
                        Declined
                      </option>
                    </select>
                  </div>
                  <div class="mb-4">
                    <label for="type" class="block text-gray-600 text-sm font-semibold mb-2">Type</label>

                    <select id="type" name="type" class="w-full p-2 border-b border-gray-300 rounded">

                      <option value="Deposit">
                        Deposit
                      </option>
                      <option value="Outgoing-Transfer">
                        Outgoing-Transfer
                      </option>

                    </select>
                  </div>
                  <div class="mb-4">
                    <label for="amount" class="block text-gray-600 text-sm font-semibold mb-2">Amount</label>
                    <input type="number" id="amount" name="amount" class="w-full p-2 border-b border-gray-300 rounded">
                  </div>



                  <!-- <div class="mb-4">
                <label for="userId" class="block text-gray-600 text-sm font-semibold mb-2">User ID</label>
                <input type="text" id="userId" name="userId" class="w-full p-2 border border-gray-300 rounded">
              </div> -->

                  <div class="mb-4">
                    <label for="createdAt" class="block text-gray-600 text-sm font-semibold mb-2">Created At</label>
                    <input type="date" id="createdAt" name="createdAt"
                      class="w-full p-2 border border-gray-300 rounded">
                  </div>

                  <button type="submit" class="bg-green-500 text-white px-4 py-2">Send</button>
                </form>

                <!-- International Transfer Form -->
                <form id="internationalForm" class="max-w-md mx-auto" method="post" action="" style="display: none;">
                  <!-- Add your international form fields here -->
                  Coming Soon!!!
                </form>

              </div>
            </div>
          </div>
    </div>

</body>

<script>
  function logout() {
    window.location.href = "/logout"; // Redirect to the logout route when clicked
  }
</script>
<script>
  // Function to toggle the visibility of forms based on the selected radio button
  function toggleTransferForm() {
    const domesticForm = document.getElementById('domesticForm');
    const internationalForm = document.getElementById('internationalForm');
    const domesticRadio = document.getElementById('domestic');
    const internationalRadio = document.getElementById('international');

    if (domesticRadio.checked) {
      domesticForm.style.display = 'block';
      internationalForm.style.display = 'none';
    } else if (internationalRadio.checked) {
      domesticForm.style.display = 'none';
      internationalForm.style.display = 'block';
    }
  }

  // Attach the function to the change event of radio buttons
  const radios = document.getElementsByName('transferType');
  radios.forEach(radio => {
    radio.addEventListener('change', toggleTransferForm);
  });
</script>

</html>